page
    background #001935
    font-size 20px

.text
    color #fff
    text-align center
    display block
    padding 10px

.btn
    background #2ef
    color #001935
    width 40px
    height 40px
    border-radius 50%
    display flex
    align-items center
    justify-content center
